.contenedorCard {
  transition: transform 0.2s; /* Agrega una transición suave de 0.2 segundos */
  cursor: pointer;
  border: none;
}

.contenedorCard:hover {
  transform: scale(1.05); /* Aumenta el tamaño al 105% cuando se pasa el mouse por encima */
}

.contenedorInfoCard {
  overflow: hidden;
  border-radius: 10px;
}

.contenedorInfoCongresos {
  z-index: 100;
}

.imgCongresos {
  height: 100%;
  width: auto !important;
  max-width: none !important;
  object-fit: cover;
  /* max-height: none !important; */
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: auto;
}

.sectionFechas > section > div {
  border-radius: 10px;
}

.articulos {
  border-radius: 10px;
}

.spanPresentador {
  margin-right: 1rem;
}

.imgPresentacionesCongresos {
  transition: transform 0.2s; /* Agrega una transición suave de 0.2 segundos */
  cursor: pointer;
}

.imgPresentacionesCongresos:hover {
  transform: scale(1.05); /* Aumenta el tamaño al 105% cuando se pasa el mouse por encima */
}
