.imgPresentaciones {
  border-radius: 10px;
  transition: transform 0.2s; /* Agrega una transición suave de 0.2 segundos */
  cursor: pointer;
}

.imgPresentaciones:hover {
  transform: scale(1.05); /* Aumenta el tamaño al 105% cuando se pasa el mouse por encima */
}

.btnPresentaciones {
  width: auto;
}

.headerFechasPresentacionesPendiente {
  background-color: rgba(254, 202, 87,1.0);
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.headerFechasPresentacionesTerminada {
  background-color: rgba(39, 174, 96,1.0);
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.cardFechasPresentaciones {
  transition: transform 0.2s;
}

.cardFechasPresentaciones:hover {
  transform: scale(1.05);
}

.imgFechaPresentacion {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 992px) {
  .contenedorInfoPresentaciones {
    width: 66%;
  }

  .contenedorImgPresentaciones {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .bodyCardPresentaciones {
    display: block;
  }

  .contenedorInfoPresentaciones {
    width: 100%;
  }

  .contenedorInfoPresentaciones > a {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .contenedorImgPresentaciones {
    width: 100%;
  }

  .hrPresentacion {
    display: block;
  }
}