.imgPresentaciones {
  border-radius: 10px;
  transition: transform 0.2s; /* Agrega una transición suave de 0.2 segundos */
  cursor: pointer;
}

.imgPresentaciones:hover {
  transform: scale(1.05); /* Aumenta el tamaño al 105% cuando se pasa el mouse por encima */
}

.btnPresentaciones {
  width: auto;
}

@media (max-width: 992px) {
  .contenedorInfoPresentaciones {
    width: 66%;
  }

  .contenedorImgPresentaciones {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .bodyCardPresentaciones {
    display: block;
  }

  .contenedorInfoPresentaciones {
    width: 100%;
  }

  .contenedorInfoPresentaciones > a {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .contenedorImgPresentaciones {
    width: 100%;
  }
}