:root {
  --bg-color: #218c74;
  --hover-bg-color: #1c725f;
  --sec-bg-color: #dff9fb;
  --hover-sec-bg-color: #c3dcdf;
  --text-color: #fff;
  --sec-text-color: #2C3A47;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: #ffffff !important;
  /* display: flex;
  flex-direction: column; */
  /* min-height: 100vh; */
  margin: 0;
}

.bgColor {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

.bgColor a {
  color: var(--text-color);
  transition: color 0.4s ease, font-weight 0.4s ease;
}

.bgColor a:hover {
  color: var(--sec-bg-color);
  /* text-decoration: underline; */
}

.bgColor a:active {
  color: var(--text-color);
}

.secBgColor {
  background-color: var(--sec-bg-color) !important;
  color: var(--sec-text-color) !important;
  transition: color 0.4s ease, font-weight 0.4s ease;
}

button.bgColor:hover, a.bgColor:hover {
  background: var(--hover-bg-color) !important;
  /* text-decoration: underline; */
}

button.secBgColor:hover {
  background: var(--hover-sec-bg-color) !important;
  /* text-decoration: underline; */
}

.textColor {
  color: var(--text-color) !important;
}

.btnAgregar {
  margin-left: 1rem;
}

@media (max-width: 768px){
  .btnAgregar {
    margin-left: 0;
  }
}